html {
  scroll-behavior: smooth;
}


body {
  background: linear-gradient(135deg, #0b0f2e, #1a1f4a, #0b0f2e);
  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
}

/* NAVBAR */
.glass-nav {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(12px);
}

/* HERO */
.hero-section {
  min-height: 90vh;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
}

.hero-title span {
  background: linear-gradient(90deg, #00eaff, #ff6ec4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-subtitle {
  color: #cfd8ff;
  margin-bottom: 30px;
}

/* GLASS CARD */
.glass-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

.glass-card label {
  margin-top: 10px;
  font-weight: 600;
}

.glass-card input {
  margin-bottom: 10px;
}

/* BUTTON */
.predict-btn {
  width: 100%;
  background: linear-gradient(135deg, #00eaff, #ff6ec4);
  border: none;
  color: black;
  font-weight: bold;
  padding: 12px;
  border-radius: 10px;
}

.predict-btn:hover {
  opacity: 0.9;
}

/* RESULT */
.result-box {
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffdd57;
}

/* RESOURCES */
.resource-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.resource-box {
  background: rgba(255, 255, 255, 0.12);
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
}

.resource-box h5 {
  font-weight: bold;
}

.resource-box p {
  font-size: 0.9rem;
  color: #ddd;
}

.resource-box a {
  color: #00eaff;
  text-decoration: none;
  font-weight: bold;
}

/* RANKING */
.ranking-section {
  padding: 60px;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(15px);
}

.ranking-table th {
  color: #00eaff;
}

img {
  max-height: 420px;
  object-fit: contain;
}
